/* Globals */

body {
  background: linear-gradient(red, orange, yellow, green, blue, purple);
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0%;
}


/* VVV It may not look like it, but this is important!! VVV */
* {
  box-sizing: border-box;
}
/* ^^^ Do not delete!!! ^^^ */


h1 {
  font-family: sans-serif;
  color: black;
  text-align: center;
  background: linear-gradient(darkred, darkblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: sans-serif;
  color: black;
  text-align: center;
  background: linear-gradient(darkred, darkblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: sans-serif;
  color: black;
  font-style: italic;
  font-size: 1rem;
}

p {
  font-family: sans-serif;
  color:black;
}

a {
  font-family: sans-serif;
  color: #444444;
}

li {
  font-family: sans-serif;
}

/* Classes */

.title {
  display: flex;
  flex: wrap;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(yellow, purple);
  width: 90%;
  margin: auto;
  padding: 5px;
  align-content: center;
}

.titlebanner {
  height: 20rem;
  width: auto;
}

.logo {
  height: 100px;
  width: auto;
  border: solid 0px black;
  border-radius: 100%;
  margin-right: 2rem;
}

.column-title {
  display: flex;
  flex: wrap;
  flex-direction: row;
  width: 50%;
  margin: auto;
  padding: 5px;
  align-content: center;
}

.column-subtitle {
  display: flex;
  flex: wrap;
  flex-direction: row;
  width: 25%;
  margin: auto;
  padding: 5px;
  align-content: center;
}

.column-side-image {
  height: 50px;
  width: auto;
  align-self: center;
  border: solid 0px black;
  border-radius: 100%;
  margin-right: 2rem;
}

.wrapper {
  display: flex;
  flex: wrap;
  flex-direction: row;
  width:90%;
  height: 100%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(red, orange, yellow, green, blue, purple);
}

 /* Content Columns */

.column2 {
  width: 75%;
  order: 2;
  flex-grow: 2;
  padding: 10px;
}

.column1 {
  width: 25%;
  order: 1;
  flex-grow: 1;
  padding: 10px;
  border: solid 2px black;
  /*flex-direction: column;*/
}

.bonus-image {
  height: 500px;
  width: auto;
  align-self: center;
  border: solid 2px black;
  border-radius: 3%;
}
